<script>
current_url = new URL(window.location.href);
function redraw_sort(key){

  if (current_url.searchParams.get('sort')==key){
    if (current_url.searchParams.get('direction')=='asc'){
      current_url.searchParams.set('direction','desc');
  } else {
    current_url.searchParams.set('direction','asc');
  }
  } else {
  current_url.searchParams.set('sort',key);
  current_url.searchParams.set('direction','asc')

  }

  window.open(current_url,name='_self');
}

function go_next(){
  current_url.searchParams.set('page', {{ page_data['page']+1 }});
  window.open(current_url,name='_self');
}

function go_prev(){
  current_url.searchParams.set('page', {{ page_data['page']-1}});
  window.open(current_url,name='_self');
}

function go_to(page){
  current_url.searchParams.set('page', page);
  window.open(current_url,name='_self');
}

function set_limit(n){
  current_url.searchParams.set('limit',n);
  window.open(current_url,name='_self');
}
</script>
