table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #2f2f2f;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2f2f2f;
}
tr:nth-child(odd) {
  background-color: #767676;
}
