<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='invisman_style.css') }}">

</head>
<body>

  <table style="width:.1%">
    <tr>
      <td>
        <select name="catalog" id="catalog" size=20 multiple onchange="describe();">
          <option value="ignore" disabled>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
        {% for product in catalog['data'] %}
        <option value="{{ product.id }}"
        data-product-sku="{{ product.sku }}"
        data-product-description="{{ product.description }}">{{ product.name }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
  <input type="button" value="&#171;" onclick="move_left()" style="font-size : 20px"/>
  <br/>
  <input type="button" value="&#187;" onclick="javascript:move_right()" style="font-size : 20px"/>

</td>
<td>
  <form action="add_inventory" METHOD="POST">
  <select name="addselection" id="addselection" size=20 multiple>
    <option value="ignore" disabled>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
  </select>
  </form>
</td>
</tr>
</table>

    <p>sku: <input type = "text" name = "sku" id="sku" readonly = true/></p>
    <p>description:</p>
    <p> <textarea name = "description" id="description" readonly = true rows="4" cols="50"></textarea></p>

    <p><input type = "button" value = "submit" onclick="submit();" />
    <input type = "button" value = "cancel" onclick="location.href='/{{ store_id }}/inventory'"/></p>

    <script>
      const catalog = document.querySelector('#catalog');
      const addselection = document.querySelector('#addselection');
      //option onclick
      const sku = document.querySelector('#sku');

      function describe(){
        skuValue = catalog.options[catalog.selectedIndex].dataset.productSku;
        descriptionValue = catalog.options[catalog.selectedIndex].dataset.productDescription;
        sku.value = skuValue;
        description.value = descriptionValue
      }

      function move_left(){
        let selected=[];
        for(let i=0;i<addselection.options.length;i++){
          selected[i] = addselection[i].selected;
        }
        let index = catalog.options.length;
        while (index--) {
          if (selected[index]){
            const option = new Option(addselection[index].text,addselection[index].value);
            catalog.add(option,undefined);
          addselection.remove(index);
          catalog.selectedIndex =-1;
          }
        }

      };

      function move_right(){
        let selected=[];
        for(let i=0;i<catalog.options.length;i++){
          selected[i] = catalog[i].selected;
        }
        let index = catalog.options.length;
        while ((index--)>1) {
          if (selected[index]){
            const option = new Option(catalog[index].text,catalog[index].value);
            addselection.add(option,undefined);
          catalog.remove(index);
          addselection.selectedIndex =-1;
          }
        }
      };

      function submit(){
        //Get all product id's in json, create a post request and send json

        //remove spacer

        let products = {};
        let data = [];
        products.data = data;

        let index = addselection.options.length;
        while (index--){
          if (addselection.options[index].value != 'ignore'){
            products.data.push({
              'id':addselection.options[index].value,
            },
          );
          }
        }

        //send post request. Thanks John G @ stackoverflow: https://stackoverflow.com/questions/6396101/pure-javascript-send-post-data-without-a-form
        var request = new XMLHttpRequest();
        request.open("POST", "/{{ store_id }}/add_inventory",false);
        request.setRequestHeader('Content-Type', 'application/json');
        request.send(JSON.stringify(products));
        window.location.href="/{{ store_id }}/inventory";
      }
    </script>

</body>
</html>
