<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='invisman_style.css') }}">

</head>
<body>

  <table style="width:.1%">
    <tr>
      <td>
        <select name="catalog" id="catalog" size=20 multiple>
          <option disabled>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
        {% for product in catalog['data'] %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
  <input type="button" value="&#171;" onclick="move_left()" style="font-size : 20px"/>
  <br/>
  <input type="button" value="&#187;" onclick="javascript:move_right()" style="font-size : 20px"/>

</td>
<td>
  <form action="add_inventory" METHOD="POST">
  <select name="addselection" id="addselection" size=20 multiple>
    <option disabled>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
  </select>
  </form>
</td>
</tr>
</table>

    {% for key in keys %}
      {% if key == 'store_id' %}
        <p>{{ key }}: <input type = "text" name = "{{ key }}" value = "{{ store_id }}" readonly/></p>
      {% else %}
        <p>{{ key }} = <input type = "text" name = "{{ key }}"/></p>
      {% endif %}
    {% endfor %}

    <p><input type = "submit" value = "submit" /></p>

    <script>
      const catalog = document.querySelector('#catalog');
      const addselection = document.querySelector('#addselection');

      function move_left(){
        let selected=[];
        for(let i=0;i<addselection.options.length;i++){
          selected[i] = addselection[i].selected;
        }
        let index = catalog.options.length;
        while (index--) {
          if (selected[index]){
            const option = new Option(addselection[index].text,addselection[index].value);
            catalog.add(option,undefined);
          addselection.remove(index);
          catalog.selectedIndex =-1;
          }
        }

      };

      function move_right(){
        let selected=[];
        for(let i=0;i<catalog.options.length;i++){
          selected[i] = catalog[i].selected;
        }
        let index = catalog.options.length;
        while (index--) {
          if (selected[index]){
            const option = new Option(catalog[index].text,catalog[index].value);
            addselection.add(option,undefined);
          catalog.remove(index);
          addselection.selectedIndex =-1;
          }
        }
      };
    </script>

</body>
</html>
