<!doctype html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #2f2f2f;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2f2f2f;
}
tr:nth-child(odd) {
  background-color: #767676;
}
</style>
</head>
<body>
	<table>
		<tr>
			<td>
	<form action="/add_product" method="GET">
		<input type='submit' value='add'/>
	</form></td>

</tr></table>
<table border = 0>
	{% for field in fields %}
		<th>{{ field }}</th>
	{% endfor %}
	{#
	<th>ID</th>
	<th>Name</th>
	<th>Description</th>
	<th>Image</th>
	<th>MSRP</th>
	#}
</tr>
{% for row in result['data'] %}
<tr>
	<td>
    <a href="view_product/{{ row.id }}">{{ row.id }}</a>
  </td>
	<td> {{ row.name }} </td>
	<td> {{ row.description }} </td>
	<td> {{ row.image }} </td>
	<td> {{ row.msrp }} </td>
</tr>
{% endfor %}

</table>
</body>
</html>
