{# Try to turn this into a one size fits all solution for similar relationship tables #}
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='invisman_style.css') }}">
</head>
<body>
	<table>
		<tr>
			<th>Store No: {{ store_id }} Inventory Manager </th>
			<td>
	<form action="/{{ store_id }}/add_{{ entity }}" method="GET">
		<input type='submit' value='add'/>
	</form></td>

</tr></table>
{% include 'table_loader_inventory.html' %}

</body>
</html>
