<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='invisman_style.css') }}">
</head>
<body>
	<table>
		<tr>
			<td>
	<form action="/add_{{ entity }}" method="GET">
		<input type='submit' value='add'/>
	</form></td>

</tr></table>
<table border = 0> {# Create the table header using entity attributes #}
	{% for key in keys %}
		<th>{{ key }}</th>
	{% endfor %}
  {# for each row, print records 'id' and use it as a link to view it. #}
{% for row in result['data'] %}
<tr>
	<td>
    <a href="view_{{ entity }}/{{ row.id }}">{{ row.id }}</a>
  </td>
  {# for each column, print the remaining attributes, skipping 'id' #}
  {% for key, value in row.items() %}
    {% if key != 'id' %}
  <td> {{ value }} </td>
    {% endif %}
  {% endfor %}
</tr>
{% endfor %}

</table>
</body>
</html>
