<!doctype html>
<html>
<body>
	<table border = 0>
		<tr>
			<td>
	<form action="/api/product_add" method="GET">
		<input type='submit' value='add'/>
	</form></td>
	<td>
	<form action="/product_del" method="POST">
		<input type='submit' value='delete'/>
	</form></td>
	<td>
	<form action="/product_update" method="GET">
		<input type='submit' value='update'/>
	</form></td>
</tr></table>
<table border = 0>
	<th>ID</th>
	<th>Name</th>
	<th>Description</th>
	<th>Image</th>
	<th>MSRP</th>
</tr>
{% for row in result['data'] %}
<tr>
	<td> {{ row.id }} </td>
	<td> {{ row.name }} </td>
	<td> {{ row.description }} </td>
	<td> {{ row.image }} </td>
	<td> {{ row.msrp }} </td>
</tr>
{% endfor %}

</table>
</body>
</html>
