<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='invisman_style.css') }}">
</head>
<body>
  <form id="view_product_form" method="POST">
    {% include 'dataloader.html' %}
    <p><input type = "submit" value = "Update" formaction = "/update_product/{{ product['id'] }}"/>
    <input type = "submit" value = "Close" formaction="/products"/ formmethod="get">
    <input type = "submit" value = "Delete" formaction="/delete_product/{{ product['id'] }}" formmethod="get"/></p>
  </form>

</body>
</html>
